USE [MaloprodajaVozilaBaza]
GO
/****** Object:  SqlAssembly [MaloprodajaVozilaAssembly]    Script Date: 12/23/2020 8:07:25 PM ******/
CREATE ASSEMBLY [MaloprodajaVozilaAssembly]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300DC84C75F0000000000000000E00022200B013000001000000006000000000000362E0000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030060850000100000100000000010000010000000000000100000000000000000000000E42D00004F00000000400000A802000000000000000000000000000000000000006000000C000000AC2C00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E746578740000003C0E0000002000000010000000020000000000000000000000000000200000602E72737263000000A8020000004000000004000000120000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001600000000000000000000000000004000004200000000000000000000000000000000182E0000000000004800000002000500202400008C0800000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133001000C0000000100001100027B010000040A2B00062A420002037D0100000402167D030000042A000000133001000C0000000100001100027B020000040A2B00062A420002037D0200000402167D030000042A5E0002037D0100000402047D0200000402167D030000042A000000133003003400000002000011000228090000060A062C04140B2B23027C01000004280500000A7201000070027C02000004280500000A280600000A0B2B00072A133002001000000003000011000203280D00000616FE010A2B00062A133001002500000004000011000228090000060A062C04160B2B1402FE16020000026F0700000A6F0800000A0B2B00072A000000133001000C0000000300001100027B030000040A2B00062A133002001700000005000011001200FE15020000021200177D03000004060B2B00072A00133005009F00000006000011000F00280900000A0A062C0B280A0000060B3886000000001202FE1502000002028C0B000001280A00000A0D09178D1100000125161F2F9D6F0B00000A13041104169A280C000006130511052C1212021104169A280C00000A7D010000042B081202157D010000041104179A280C000006130611062C1212021104179A280C00000A7D020000042B081202157D020000041202167D03000004080B2B00072A00133002001E0000000700001100022C0B02280C00000A16FE042B01170A062C04160B2B04170B2B00072A0000133002008700000008000011000314FE010B072C04170C2B7803A5020000020A120014FE16020000026F0D00000A0D092C0B7205000070730E00000A7A022809000006130411042C160012002809000006130511052C04160C2B36150C2B3212002809000006130611062C04170C2B2102FE16020000026F0700000A1200FE16020000026F0700000A6F0F00000A0C2B00082A00133002008B00000009000011000228090000062D03162B0117D20A03066F1000000A000617FE010B072C03002B680228010000060D1203280500000A280C00000616FE010C082C0C00723D000070731100000A7A030228010000066F1200000A000228030000060D1203280500000A280C00000616FE01130411042C0C00727B000070731100000A7A030228030000066F1200000A002A0013300200820000000A00001100036F1300000A0A0617FE010D092C0A0002177D030000042B6702167D03000004036F1400000A0B1201280500000A280C00000616FE01130411042C0C00723D000070731100000A7A0207280200000600036F1400000A0C1202280500000A280C00000616FE01130511052C0C0072C1000070731100000A7A02082804000006002A000042534A4201000100000000000C00000076342E302E33303331390000000005006C00000038030000237E0000A4030000A402000023537472696E67730000000048060000080100002355530050070000100000002347554944000000600700002C01000023426C6F6200000000000000020000015717A2010900000000FA013300160000010000001300000002000000030000000F0000000A0000000200000014000000040000000A0000000100000004000000060000000100000002000000000077010100000000000600DC0030020600FC0030020600AC001D020F00500200000A008202FC010A00C000FC0106008D009E010A0083005F020A002901FC01060089029E010A003A015F020600EF011C000600E2011C0006000D009E01060046019E01060096029E010600DD019E010600C1019E010600A5019E010000000013000000000001000100092110004E0000001D000100010001004700A20001006D01A20001009801A500502000000000860831003300010068200000000086083C00010001007C2000000000860851013300020094200000000086085F0101000200A5200000000086181702A8000300C02000000000C60044011F000500002100000000C6007402700005001C2100000000C600770033000600502100000000E6098D014B00060068210000000096088401AE0006008C21000000009600A000B300060038220000000091002600BA0007006422000000008600D301BF000800F82200000000E601A600C4000900902300000000E6017200CA000A00000001002301000001002301000001004700000002006D01000001004D01000001007902000001009E02000001004D0100000100A002000001001B020200210002002500090017020100110017020600190017020A00310017021000710044011F0079007B022300510044011F0051007700330059008D014B00810044014F0079009002540081000B005B005100740270009100170275007900D3017A006100A60087009900170275006100A600010069001A0195006900010033002E000B00DD002E001300E6002E001B000501430023000E0116001A002A002E0037003E00600065007F008C000200010000004000D00000006301D00000009101D40000009301D80002000100030001000200030002000300050001000400050002000900070002000A00090004800000000000000000000000000000000097000000040000000000000000000000990069000000000004000000000000000000000099005D000000000000000052656164496E74333200546F496E743332003C4D6F64756C653E0053797374656D2E494F0056616C69646163696A61006765745F476F64696E61007365745F476F64696E6100676F64696E610042726F6A50726564726163756E610053797374656D2E44617461006D73636F726C696200526561640047657448617368436F646500494E756C6C61626C650056616C7565547970650044617461626173650050617273650057726974650044656275676761626C654174747269627574650053716C55736572446566696E65645479706541747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650052656164427974650076616C7565004942696E61727953657269616C697A650053716C537472696E6700546F537472696E67006F626A006765745F5265646E6942726F6A007365745F5265646E6942726F6A007265646E6942726F6A0044617461626173652E646C6C006765745F4E756C6C006765745F49734E756C6C005F6E756C6C0053797374656D00417267756D656E744F75744F6652616E6765457863657074696F6E00417267756D656E74457863657074696F6E00436F6D70617265546F00436861720042696E6172795265616465720042696E617279577269746572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C547970657300457175616C7300436F6E63617400466F726D6174004F626A6563740053706C697400436F6E766572740076007700000000032F000037500072006F0073006C00650064006A0065006E0020006F0062006A0065006B006100740020006A00650020006E0075006C006C002100003D47006F00640069006E00610020006E00650020006D006F007A0065002000620069007400690020006E006500670061007400690076006E006100210000455200650064006E0069002000620072006F006A0020006D006F0072006100200062006900740069002000760065006300690020006F00640020006E0075006C006100210000455200650064006E0069002000620072006F006A0020006D006F0072006100200062006900740069002000760065006300690020006F00640020006E0075006C00650021000000F3D4E1332F222840805231E580539E400004200101080320000105200101111105200101111503070108040702020E0320000E0600030E0E0E0E03070102040702020803200008060702110811080C070702110811080E1D0E0202032000020400010E1C0620011D0E1D03040001080E04070202020A07071108020802020202042001021C042001010E042001080E070705050202080204200101050807060508080202020320000508B77A5C561934E08902060802060205200201080804000011080600011108112D040001020E042001081C052001011231052001011235032800080328000204080011080801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000001A010002000000010054080B4D61784279746553697A652003000000000000000000DC84C75F00000000020000001C010000C82C0000C80E0000525344533F685272E66B72409518A32CC47278FB01000000433A5C55736572735C4976616E615C4465736B746F705C42617A6520706F646174616B612032202D2050726F6A656B61745C44617461626173655C6F626A5C44656275675C44617461626173652E70646200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C2E00000000000000000000262E0000002000000000000000000000000000000000000000000000182E0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001001000000018000080000000000000000000000000000001000100000030000080000000000000000000000000000001000000000048000000584000004C02000000000000000000004C0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004AC010000010053007400720069006E006700460069006C00650049006E0066006F0000008801000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E00300000003A000D00010049006E007400650072006E0061006C004E0061006D0065000000440061007400610062006100730065002E0064006C006C00000000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000042000D0001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000440061007400610062006100730065002E0064006C006C0000000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000383E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
/****** Object:  UserDefinedDataType [dbo].[KW]    Script Date: 12/23/2020 8:07:25 PM ******/
CREATE TYPE [dbo].[KW] FROM [int] NULL
GO
/****** Object:  UserDefinedType [dbo].[BrojPredracuna]    Script Date: 12/23/2020 8:07:25 PM ******/
CREATE TYPE [dbo].[BrojPredracuna]
EXTERNAL NAME [MaloprodajaVozilaAssembly].[BrojPredracuna]
GO
/****** Object:  Table [dbo].[Adresa]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresa](
	[MestoID] [int] NOT NULL,
	[AdresaID] [int] NOT NULL,
	[NazivUlice] [varchar](50) NULL,
	[Broj] [varchar](50) NULL,
 CONSTRAINT [PK_Adresa] PRIMARY KEY CLUSTERED 
(
	[MestoID] ASC,
	[AdresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CenaVozila]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenaVozila](
	[VoziloID] [int] NOT NULL,
	[CenaVozilaID] [int] NOT NULL,
	[Iznos] [decimal](18, 2) NULL,
	[Valuta] [varchar](50) NULL,
	[NazivVozila] [varchar](50) NULL,
 CONSTRAINT [PK_CenaVozila] PRIMARY KEY CLUSTERED 
(
	[VoziloID] ASC,
	[CenaVozilaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanUgovora]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanUgovora](
	[UgovorID] [int] NOT NULL,
	[ClanUgovoraID] [int] NOT NULL,
	[NazivClanaUgovora] [varchar](50) NULL,
	[OpisClanaUgovora] [varchar](500) NULL,
 CONSTRAINT [PK_ClanUgovora] PRIMARY KEY CLUSTERED 
(
	[UgovorID] ASC,
	[ClanUgovoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeoVozila]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeoVozila](
	[VoziloID] [int] NOT NULL,
	[DeoVozilaID] [int] NOT NULL,
	[Napomena] [varchar](50) NULL,
	[OpremaID] [int] NULL,
 CONSTRAINT [PK_DeoVozila] PRIMARY KEY CLUSTERED 
(
	[VoziloID] ASC,
	[DeoVozilaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drzava]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drzava](
	[DrzavaID] [int] NOT NULL,
	[NazivDrzave] [varchar](50) NULL,
 CONSTRAINT [PK_Drzava] PRIMARY KEY CLUSTERED 
(
	[DrzavaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Katalog]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Katalog](
	[KatalogID] [int] NOT NULL,
	[DatumOd] [date] NULL,
	[DatumDo] [date] NULL,
 CONSTRAINT [PK_Katalog] PRIMARY KEY CLUSTERED 
(
	[KatalogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kupac]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kupac](
	[KupacJMBG] [varchar](13) NOT NULL,
	[ImePrezimeKupca] [varchar](50) NULL,
	[MestoID] [int] NULL,
	[AdresaID] [int] NULL,
 CONSTRAINT [PK_Kupac] PRIMARY KEY CLUSTERED 
(
	[KupacJMBG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesto]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesto](
	[MestoID] [int] NOT NULL,
	[NazivMesta] [varchar](50) NULL,
	[PostanskiBroj] [varchar](50) NULL,
	[DrzavaID] [int] NULL,
 CONSTRAINT [PK_Mesto] PRIMARY KEY CLUSTERED 
(
	[MestoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Narudzbenica]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Narudzbenica](
	[NarudzbenicaID] [int] NOT NULL,
	[BrojNarudzbenice] [int] NULL,
	[NacinIsporuke] [varchar](50) NULL,
	[NacinPlacanja] [varchar](50) NULL,
	[PonudaID] [int] NULL,
	[KupacJMBG] [varchar](13) NULL,
 CONSTRAINT [PK_Narudzbenica] PRIMARY KEY CLUSTERED 
(
	[NarudzbenicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oprema]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oprema](
	[OpremaID] [int] NOT NULL,
	[NazivOpreme] [varchar](50) NULL,
	[OpisOpreme] [varchar](50) NULL,
 CONSTRAINT [PK_Oprema] PRIMARY KEY CLUSTERED 
(
	[OpremaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ponuda]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ponuda](
	[PonudaID] [int] NOT NULL,
	[DatumOd] [date] NULL,
	[DatumDo] [date] NULL,
 CONSTRAINT [PK_PonudaGlavno] PRIMARY KEY CLUSTERED 
(
	[PonudaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PonudaDetalji]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PonudaDetalji](
	[PonudaID] [int] NOT NULL,
	[BrojPonude] [int] NOT NULL,
	[RokIsporuke] [varchar](50) NULL,
	[KatalogID] [int] NULL,
	[ProdavacID] [int] NULL,
	[KupacJMBG] [varchar](13) NULL,
 CONSTRAINT [PK_PonudaDetalji] PRIMARY KEY CLUSTERED 
(
	[PonudaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PonudaStaro]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PonudaStaro](
	[PonudaID] [int] NOT NULL,
	[BrojPonude] [int] NULL,
	[DatumOd] [date] NULL,
	[DatumDo] [date] NULL,
	[RokIsporuke] [varchar](50) NULL,
	[KatalogID] [int] NULL,
	[ProdavacID] [int] NULL,
	[KupacJMBG] [varchar](13) NULL,
 CONSTRAINT [PK_Ponuda] PRIMARY KEY CLUSTERED 
(
	[PonudaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Predracun]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predracun](
	[PredracunID] [int] NOT NULL,
	[BrojPredracuna] [dbo].[BrojPredracuna] NULL,
	[DatumIzdavanja] [date] NULL,
	[DatumPrometa] [date] NULL,
	[NacinPlacanja] [varchar](50) NULL,
	[UgovorID] [int] NULL,
	[ProdavacID] [int] NULL,
	[KupacJMBG] [varchar](13) NULL,
	[UkupanIznos] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Predracun] PRIMARY KEY CLUSTERED 
(
	[PredracunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodavac]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodavac](
	[ProdavacID] [int] NOT NULL,
	[ImePrezimeProdavca] [varchar](50) NULL,
 CONSTRAINT [PK_Prodavac] PRIMARY KEY CLUSTERED 
(
	[ProdavacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RacunOtpremnica]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RacunOtpremnica](
	[RacunOtpremnicaID] [int] NOT NULL,
	[BrojRacunaOtpremnice] [int] NULL,
	[DatumIzdavanja] [date] NULL,
	[DatumPrometa] [date] NULL,
	[NacinPlacanja] [varchar](50) NULL,
	[ImePrezimeProdavca] [varchar](50) NULL,
	[PredracunID] [int] NULL,
	[ProdavacID] [int] NULL,
	[KupacJMBG] [varchar](13) NULL,
 CONSTRAINT [PK_RacunOtpremnica] PRIMARY KEY CLUSTERED 
(
	[RacunOtpremnicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaKataloga]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaKataloga](
	[KatalogID] [int] NOT NULL,
	[StavkaKatalogaID] [int] NOT NULL,
	[Opis] [varchar](50) NULL,
	[VoziloID] [int] NULL,
 CONSTRAINT [PK_StavkaKataloga] PRIMARY KEY CLUSTERED 
(
	[KatalogID] ASC,
	[StavkaKatalogaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaNarudzbenice]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaNarudzbenice](
	[NarudzbenicaID] [int] NOT NULL,
	[StavkaNarudzbeniceID] [int] NOT NULL,
	[Kolicina] [int] NULL,
	[VoziloID] [int] NULL,
 CONSTRAINT [PK_StavkaNarudzbenice] PRIMARY KEY CLUSTERED 
(
	[NarudzbenicaID] ASC,
	[StavkaNarudzbeniceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaPonude]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaPonude](
	[PonudaID] [int] NOT NULL,
	[StavkaPonudeID] [int] NOT NULL,
	[Napomena] [varchar](50) NULL,
	[VoziloID] [int] NULL,
 CONSTRAINT [PK_StavkaPonude] PRIMARY KEY CLUSTERED 
(
	[PonudaID] ASC,
	[StavkaPonudeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaPredracuna]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaPredracuna](
	[PredracunID] [int] NOT NULL,
	[StavkaPredracunaID] [int] NOT NULL,
	[Kolicina] [int] NULL,
	[VoziloID] [int] NULL,
 CONSTRAINT [PK_StavkaPredracuna] PRIMARY KEY CLUSTERED 
(
	[PredracunID] ASC,
	[StavkaPredracunaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaRacunaOtpremnice]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaRacunaOtpremnice](
	[RacunOtpremnicaID] [int] NOT NULL,
	[StavkaRacunaOtpremniceID] [int] NOT NULL,
	[Kolicina] [int] NULL,
	[VoziloID] [int] NULL,
 CONSTRAINT [PK_StavkaRacunaOtpremnice] PRIMARY KEY CLUSTERED 
(
	[RacunOtpremnicaID] ASC,
	[StavkaRacunaOtpremniceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipVozila]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipVozila](
	[TipVozilaID] [int] NOT NULL,
	[NazivTipaVozila] [varchar](50) NULL,
 CONSTRAINT [PK_TipVozila] PRIMARY KEY CLUSTERED 
(
	[TipVozilaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ugovor]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ugovor](
	[UgovorID] [int] NOT NULL,
	[BrojUgovora] [int] NULL,
	[DatumPotpisivanja] [date] NULL,
	[NarudzbenicaID] [int] NULL,
	[KupacJMBG] [varchar](13) NULL,
	[ProdavacID] [int] NOT NULL,
 CONSTRAINT [PK_Ugovor] PRIMARY KEY CLUSTERED 
(
	[UgovorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UgovorParticije]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UgovorParticije](
	[DatumPotpisivanja] [datetime] NOT NULL,
	[BrojUgovora] [int] NULL,
	[NarudzbenicaID] [int] NULL,
	[KupacJMBG] [varchar](13) NULL,
	[ProdavacID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DatumPotpisivanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PartitionBymonth]([DatumPotpisivanja])
) ON [PartitionBymonth]([DatumPotpisivanja])
GO
/****** Object:  Table [dbo].[Vozilo]    Script Date: 12/23/2020 8:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vozilo](
	[VoziloID] [int] NOT NULL,
	[NazivVozila] [varchar](50) NULL,
	[NazivModela] [varchar](50) NULL,
	[BrojVrata] [int] NULL,
	[SnagaMotora] [dbo].[KW] NULL,
	[VrstaMenjaca] [varchar](50) NULL,
	[TipVozila] [varchar](50) NULL,
 CONSTRAINT [PK_Vozilo] PRIMARY KEY CLUSTERED 
(
	[VoziloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Adresa] ([MestoID], [AdresaID], [NazivUlice], [Broj]) VALUES (1, 1, N'Jurija Gagarina', N'200')
INSERT [dbo].[Adresa] ([MestoID], [AdresaID], [NazivUlice], [Broj]) VALUES (1, 2, N'Vojvode Stepe', N'158')
INSERT [dbo].[Adresa] ([MestoID], [AdresaID], [NazivUlice], [Broj]) VALUES (1, 3, N'Milesevska', N'25')
GO
INSERT [dbo].[CenaVozila] ([VoziloID], [CenaVozilaID], [Iznos], [Valuta], [NazivVozila]) VALUES (1, 1, CAST(200.00 AS Decimal(18, 2)), N'RSD', N'Opel Astra')
INSERT [dbo].[CenaVozila] ([VoziloID], [CenaVozilaID], [Iznos], [Valuta], [NazivVozila]) VALUES (2, 2, CAST(2743200.00 AS Decimal(18, 2)), N'RSD', N'Opel Vivaro Van')
INSERT [dbo].[CenaVozila] ([VoziloID], [CenaVozilaID], [Iznos], [Valuta], [NazivVozila]) VALUES (3, 3, CAST(2650080.00 AS Decimal(18, 2)), N'RSD', N'Opel Crossland X')
GO
INSERT [dbo].[ClanUgovora] ([UgovorID], [ClanUgovoraID], [NazivClanaUgovora], [OpisClanaUgovora]) VALUES (1, 1, N'Clan 1 - Predmet clana', N'Kupac kupuje jedno novo motorno vozilo robne marke Opel karakteristika iz ponude')
INSERT [dbo].[ClanUgovora] ([UgovorID], [ClanUgovoraID], [NazivClanaUgovora], [OpisClanaUgovora]) VALUES (1, 2, N'Clan 2 - Ugovorena cena', N'Cena vozila iz clana 1. ovog ugovora utvrdjuje se na iznos koji je predstavljen u ponudi')
INSERT [dbo].[ClanUgovora] ([UgovorID], [ClanUgovoraID], [NazivClanaUgovora], [OpisClanaUgovora]) VALUES (1, 3, N'Clan 3 - Rokovi placanja', N'Kupac se obavezuje da ce isplatiti iznos u celosti')
GO
INSERT [dbo].[DeoVozila] ([VoziloID], [DeoVozilaID], [Napomena], [OpremaID]) VALUES (1, 1, N'Obavezna oprema', 1)
INSERT [dbo].[DeoVozila] ([VoziloID], [DeoVozilaID], [Napomena], [OpremaID]) VALUES (1, 2, N'Obavezna oprema', 13)
INSERT [dbo].[DeoVozila] ([VoziloID], [DeoVozilaID], [Napomena], [OpremaID]) VALUES (1, 3, N'Dodatna oprema', 15)
GO
INSERT [dbo].[Drzava] ([DrzavaID], [NazivDrzave]) VALUES (1, N'Srbija')
GO
INSERT [dbo].[Katalog] ([KatalogID], [DatumOd], [DatumDo]) VALUES (1, CAST(N'2020-01-01' AS Date), CAST(N'2020-12-30' AS Date))
INSERT [dbo].[Katalog] ([KatalogID], [DatumOd], [DatumDo]) VALUES (2, CAST(N'2020-09-01' AS Date), CAST(N'2020-12-30' AS Date))
INSERT [dbo].[Katalog] ([KatalogID], [DatumOd], [DatumDo]) VALUES (3, CAST(N'2020-10-15' AS Date), CAST(N'2020-02-01' AS Date))
GO
INSERT [dbo].[Kupac] ([KupacJMBG], [ImePrezimeKupca], [MestoID], [AdresaID]) VALUES (N'0205990548521', N'Sara Jankovic', 1, 3)
INSERT [dbo].[Kupac] ([KupacJMBG], [ImePrezimeKupca], [MestoID], [AdresaID]) VALUES (N'1505972856321', N'Nenad Ivanovic', 2, 4)
INSERT [dbo].[Kupac] ([KupacJMBG], [ImePrezimeKupca], [MestoID], [AdresaID]) VALUES (N'1708973785245', N'Petar Stefanovic', 1, 1)
GO
INSERT [dbo].[Mesto] ([MestoID], [NazivMesta], [PostanskiBroj], [DrzavaID]) VALUES (1, N'Beograd', N'11000', 1)
INSERT [dbo].[Mesto] ([MestoID], [NazivMesta], [PostanskiBroj], [DrzavaID]) VALUES (2, N'Novi Sad', N'21000', 1)
INSERT [dbo].[Mesto] ([MestoID], [NazivMesta], [PostanskiBroj], [DrzavaID]) VALUES (3, N'Nis', N'18000', 1)
GO
INSERT [dbo].[Narudzbenica] ([NarudzbenicaID], [BrojNarudzbenice], [NacinIsporuke], [NacinPlacanja], [PonudaID], [KupacJMBG]) VALUES (1, 290855, N'Licno preuzimanje', N'Bezgotivinski', 1, N'1708973785245')
INSERT [dbo].[Narudzbenica] ([NarudzbenicaID], [BrojNarudzbenice], [NacinIsporuke], [NacinPlacanja], [PonudaID], [KupacJMBG]) VALUES (2, 332589, N'Licno preuzimanje', N'Gotovinsko palcanje', 2, N'2212965741258')
INSERT [dbo].[Narudzbenica] ([NarudzbenicaID], [BrojNarudzbenice], [NacinIsporuke], [NacinPlacanja], [PonudaID], [KupacJMBG]) VALUES (3, 669852, N'Licno preuzimanje, zapisnicki', N'Platna kartica', 3, N'2710996785236')
GO
INSERT [dbo].[Oprema] ([OpremaID], [NazivOpreme], [OpisOpreme]) VALUES (1, N'Presvlake za sedista', N'Tekstil Talino, Jet crna')
INSERT [dbo].[Oprema] ([OpremaID], [NazivOpreme], [OpisOpreme]) VALUES (2, N'Sirena ', N'Sirena sa jednim zvukom')
INSERT [dbo].[Oprema] ([OpremaID], [NazivOpreme], [OpisOpreme]) VALUES (3, N'Radio Multimedia ', N'Mogucnost USB povezivanja, sistem zvucnika : 6')
GO
INSERT [dbo].[Ponuda] ([PonudaID], [DatumOd], [DatumDo]) VALUES (1, CAST(N'2020-12-01' AS Date), CAST(N'2020-12-25' AS Date))
INSERT [dbo].[Ponuda] ([PonudaID], [DatumOd], [DatumDo]) VALUES (2, CAST(N'2020-09-01' AS Date), CAST(N'2020-12-30' AS Date))
INSERT [dbo].[Ponuda] ([PonudaID], [DatumOd], [DatumDo]) VALUES (3, CAST(N'2020-11-11' AS Date), CAST(N'2020-12-12' AS Date))
GO
INSERT [dbo].[PonudaDetalji] ([PonudaID], [BrojPonude], [RokIsporuke], [KatalogID], [ProdavacID], [KupacJMBG]) VALUES (1, 258785, N'15 dana', 1, 1, N'1708973785245')
INSERT [dbo].[PonudaDetalji] ([PonudaID], [BrojPonude], [RokIsporuke], [KatalogID], [ProdavacID], [KupacJMBG]) VALUES (2, 214587, N'10 dana', 2, 2, N'2212965741258')
INSERT [dbo].[PonudaDetalji] ([PonudaID], [BrojPonude], [RokIsporuke], [KatalogID], [ProdavacID], [KupacJMBG]) VALUES (3, 444852, N'5 - 7 dana', 3, 3, N'2710996785236')
GO
INSERT [dbo].[Predracun] ([PredracunID], [BrojPredracuna], [DatumIzdavanja], [DatumPrometa], [NacinPlacanja], [UgovorID], [ProdavacID], [KupacJMBG], [UkupanIznos]) VALUES (1, 0x00E407000001000000, CAST(N'2020-12-22' AS Date), CAST(N'2020-12-22' AS Date), N'Gotovinsko placanje', 1, 1, N'1708973785245', CAST(2005560.00 AS Decimal(18, 2)))
INSERT [dbo].[Predracun] ([PredracunID], [BrojPredracuna], [DatumIzdavanja], [DatumPrometa], [NacinPlacanja], [UgovorID], [ProdavacID], [KupacJMBG], [UkupanIznos]) VALUES (2, 0x00E407000002000000, CAST(N'2020-09-15' AS Date), CAST(N'2020-09-15' AS Date), N'Platna kartica', 2, 6, N'2212965741258', CAST(2743200.00 AS Decimal(18, 2)))
INSERT [dbo].[Predracun] ([PredracunID], [BrojPredracuna], [DatumIzdavanja], [DatumPrometa], [NacinPlacanja], [UgovorID], [ProdavacID], [KupacJMBG], [UkupanIznos]) VALUES (3, 0x00E407000003000000, CAST(N'2020-11-10' AS Date), CAST(N'2020-11-11' AS Date), N'Gotovinsko placanje', 3, 7, N'2710996785236', CAST(2650080.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Prodavac] ([ProdavacID], [ImePrezimeProdavca]) VALUES (1, N'Jelena Nikolic')
INSERT [dbo].[Prodavac] ([ProdavacID], [ImePrezimeProdavca]) VALUES (2, N'Natasa Jovic')
INSERT [dbo].[Prodavac] ([ProdavacID], [ImePrezimeProdavca]) VALUES (3, N'Igor Djordjevic')
GO
INSERT [dbo].[RacunOtpremnica] ([RacunOtpremnicaID], [BrojRacunaOtpremnice], [DatumIzdavanja], [DatumPrometa], [NacinPlacanja], [ImePrezimeProdavca], [PredracunID], [ProdavacID], [KupacJMBG]) VALUES (1, 121212, CAST(N'2020-12-23' AS Date), CAST(N'2020-12-23' AS Date), N'Gotovinsko placanje', N'Igor Djordjevic', 1, 3, N'1708973785245')
INSERT [dbo].[RacunOtpremnica] ([RacunOtpremnicaID], [BrojRacunaOtpremnice], [DatumIzdavanja], [DatumPrometa], [NacinPlacanja], [ImePrezimeProdavca], [PredracunID], [ProdavacID], [KupacJMBG]) VALUES (2, 222222, CAST(N'2020-09-15' AS Date), CAST(N'2020-09-15' AS Date), N'Platna kartica', N'Natasa Jovic', 2, 2, N'2212965741258')
INSERT [dbo].[RacunOtpremnica] ([RacunOtpremnicaID], [BrojRacunaOtpremnice], [DatumIzdavanja], [DatumPrometa], [NacinPlacanja], [ImePrezimeProdavca], [PredracunID], [ProdavacID], [KupacJMBG]) VALUES (3, 333333, CAST(N'2020-11-10' AS Date), CAST(N'2020-11-11' AS Date), N'Gotovinsko placanje', N'Igor Djordjevic', 3, 3, N'2710996785236')
GO
INSERT [dbo].[StavkaKataloga] ([KatalogID], [StavkaKatalogaID], [Opis], [VoziloID]) VALUES (1, 1, N'Najnoviji model', 1)
INSERT [dbo].[StavkaKataloga] ([KatalogID], [StavkaKatalogaID], [Opis], [VoziloID]) VALUES (1, 2, N'Proslogodisnji model', 2)
INSERT [dbo].[StavkaKataloga] ([KatalogID], [StavkaKatalogaID], [Opis], [VoziloID]) VALUES (1, 3, N'Najnoviji model', 3)
GO
INSERT [dbo].[StavkaNarudzbenice] ([NarudzbenicaID], [StavkaNarudzbeniceID], [Kolicina], [VoziloID]) VALUES (1, 1, 1, 1)
INSERT [dbo].[StavkaNarudzbenice] ([NarudzbenicaID], [StavkaNarudzbeniceID], [Kolicina], [VoziloID]) VALUES (2, 2, 1, 2)
INSERT [dbo].[StavkaNarudzbenice] ([NarudzbenicaID], [StavkaNarudzbeniceID], [Kolicina], [VoziloID]) VALUES (3, 3, 1, 3)
GO
INSERT [dbo].[StavkaPonude] ([PonudaID], [StavkaPonudeID], [Napomena], [VoziloID]) VALUES (1, 1, N'Ponuda traje dok traju zalihr', 1)
INSERT [dbo].[StavkaPonude] ([PonudaID], [StavkaPonudeID], [Napomena], [VoziloID]) VALUES (1, 6, N'Ponuda traje dok traju zalihr', 6)
INSERT [dbo].[StavkaPonude] ([PonudaID], [StavkaPonudeID], [Napomena], [VoziloID]) VALUES (2, 2, N'/', 2)
GO
INSERT [dbo].[StavkaPredracuna] ([PredracunID], [StavkaPredracunaID], [Kolicina], [VoziloID]) VALUES (1, 1, 1, 1)
INSERT [dbo].[StavkaPredracuna] ([PredracunID], [StavkaPredracunaID], [Kolicina], [VoziloID]) VALUES (2, 2, 1, 2)
INSERT [dbo].[StavkaPredracuna] ([PredracunID], [StavkaPredracunaID], [Kolicina], [VoziloID]) VALUES (3, 3, 1, 3)
GO
INSERT [dbo].[StavkaRacunaOtpremnice] ([RacunOtpremnicaID], [StavkaRacunaOtpremniceID], [Kolicina], [VoziloID]) VALUES (1, 1, 1, 1)
INSERT [dbo].[StavkaRacunaOtpremnice] ([RacunOtpremnicaID], [StavkaRacunaOtpremniceID], [Kolicina], [VoziloID]) VALUES (2, 2, 1, 2)
INSERT [dbo].[StavkaRacunaOtpremnice] ([RacunOtpremnicaID], [StavkaRacunaOtpremniceID], [Kolicina], [VoziloID]) VALUES (3, 3, 2, 7)
GO
INSERT [dbo].[TipVozila] ([TipVozilaID], [NazivTipaVozila]) VALUES (1, N'Putnicko vozilo')
INSERT [dbo].[TipVozila] ([TipVozilaID], [NazivTipaVozila]) VALUES (2, N'Komercijalno vozilo')
GO
INSERT [dbo].[Ugovor] ([UgovorID], [BrojUgovora], [DatumPotpisivanja], [NarudzbenicaID], [KupacJMBG], [ProdavacID]) VALUES (1, 100011, CAST(N'2020-12-21' AS Date), 1, N'1708973785245', 1)
INSERT [dbo].[Ugovor] ([UgovorID], [BrojUgovora], [DatumPotpisivanja], [NarudzbenicaID], [KupacJMBG], [ProdavacID]) VALUES (2, 200022, CAST(N'2020-09-01' AS Date), 2, N'2212965741258', 2)
INSERT [dbo].[Ugovor] ([UgovorID], [BrojUgovora], [DatumPotpisivanja], [NarudzbenicaID], [KupacJMBG], [ProdavacID]) VALUES (3, 300033, CAST(N'2020-11-05' AS Date), 3, N'2710996785236', 3)
GO
INSERT [dbo].[UgovorParticije] ([DatumPotpisivanja], [BrojUgovora], [NarudzbenicaID], [KupacJMBG], [ProdavacID]) VALUES (CAST(N'2020-09-01T00:00:00.000' AS DateTime), 200022, 2, N'2212965741258', 2)
INSERT [dbo].[UgovorParticije] ([DatumPotpisivanja], [BrojUgovora], [NarudzbenicaID], [KupacJMBG], [ProdavacID]) VALUES (CAST(N'2020-10-14T00:00:00.000' AS DateTime), 500055, 5, N'1505972856321', 5)
INSERT [dbo].[UgovorParticije] ([DatumPotpisivanja], [BrojUgovora], [NarudzbenicaID], [KupacJMBG], [ProdavacID]) VALUES (CAST(N'2020-11-05T00:00:00.000' AS DateTime), 300033, 3, N'2710996785236', 3)
GO
INSERT [dbo].[Vozilo] ([VoziloID], [NazivVozila], [NazivModela], [BrojVrata], [SnagaMotora], [VrstaMenjaca], [TipVozila]) VALUES (1, N'Opel Astra', N'GS Line', 5, 81, N'Manuelni menjac', N'Putnicko vozilo')
INSERT [dbo].[Vozilo] ([VoziloID], [NazivVozila], [NazivModela], [BrojVrata], [SnagaMotora], [VrstaMenjaca], [TipVozila]) VALUES (2, N'Opel Vivaro Van', N'Innovation', 3, 130, N'Automatski menjac', N'Komercijalno vozilo')
INSERT [dbo].[Vozilo] ([VoziloID], [NazivVozila], [NazivModela], [BrojVrata], [SnagaMotora], [VrstaMenjaca], [TipVozila]) VALUES (3, N'Opel Crossland X', N'Ultimate', 5, 96, N'Automatski menjac', N'Putnicko vozilo')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Oprema__A9810D0F2EDB355B]    Script Date: 12/23/2020 8:07:26 PM ******/
ALTER TABLE [dbo].[Oprema] ADD UNIQUE NONCLUSTERED 
(
	[NazivOpreme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adresa]  WITH CHECK ADD  CONSTRAINT [FK_Adresa_Mesto1] FOREIGN KEY([MestoID])
REFERENCES [dbo].[Mesto] ([MestoID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adresa] CHECK CONSTRAINT [FK_Adresa_Mesto1]
GO
ALTER TABLE [dbo].[CenaVozila]  WITH CHECK ADD  CONSTRAINT [FK_CenaVozila_Vozilo1] FOREIGN KEY([VoziloID])
REFERENCES [dbo].[Vozilo] ([VoziloID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CenaVozila] CHECK CONSTRAINT [FK_CenaVozila_Vozilo1]
GO
ALTER TABLE [dbo].[ClanUgovora]  WITH CHECK ADD  CONSTRAINT [FK_ClanUgovora_Ugovor] FOREIGN KEY([UgovorID])
REFERENCES [dbo].[Ugovor] ([UgovorID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClanUgovora] CHECK CONSTRAINT [FK_ClanUgovora_Ugovor]
GO
ALTER TABLE [dbo].[DeoVozila]  WITH CHECK ADD  CONSTRAINT [FK_DeoVozila_Oprema] FOREIGN KEY([OpremaID])
REFERENCES [dbo].[Oprema] ([OpremaID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DeoVozila] CHECK CONSTRAINT [FK_DeoVozila_Oprema]
GO
ALTER TABLE [dbo].[DeoVozila]  WITH CHECK ADD  CONSTRAINT [FK_DeoVozila_Vozilo] FOREIGN KEY([VoziloID])
REFERENCES [dbo].[Vozilo] ([VoziloID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeoVozila] CHECK CONSTRAINT [FK_DeoVozila_Vozilo]
GO
ALTER TABLE [dbo].[Kupac]  WITH CHECK ADD  CONSTRAINT [FK_Kupac_Adresa] FOREIGN KEY([MestoID], [AdresaID])
REFERENCES [dbo].[Adresa] ([MestoID], [AdresaID])
GO
ALTER TABLE [dbo].[Kupac] CHECK CONSTRAINT [FK_Kupac_Adresa]
GO
ALTER TABLE [dbo].[Mesto]  WITH CHECK ADD  CONSTRAINT [FK_Mesto_Drzava1] FOREIGN KEY([DrzavaID])
REFERENCES [dbo].[Drzava] ([DrzavaID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Mesto] CHECK CONSTRAINT [FK_Mesto_Drzava1]
GO
ALTER TABLE [dbo].[Narudzbenica]  WITH CHECK ADD  CONSTRAINT [FK_Narudzbenica_Kupac] FOREIGN KEY([KupacJMBG])
REFERENCES [dbo].[Kupac] ([KupacJMBG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Narudzbenica] CHECK CONSTRAINT [FK_Narudzbenica_Kupac]
GO
ALTER TABLE [dbo].[Narudzbenica]  WITH CHECK ADD  CONSTRAINT [FK_Narudzbenica_PonudaDetalji] FOREIGN KEY([PonudaID])
REFERENCES [dbo].[PonudaDetalji] ([PonudaID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Narudzbenica] CHECK CONSTRAINT [FK_Narudzbenica_PonudaDetalji]
GO
ALTER TABLE [dbo].[PonudaDetalji]  WITH CHECK ADD  CONSTRAINT [FK_PonudaDetalji_Katalog] FOREIGN KEY([KatalogID])
REFERENCES [dbo].[Katalog] ([KatalogID])
GO
ALTER TABLE [dbo].[PonudaDetalji] CHECK CONSTRAINT [FK_PonudaDetalji_Katalog]
GO
ALTER TABLE [dbo].[PonudaDetalji]  WITH CHECK ADD  CONSTRAINT [FK_PonudaDetalji_Kupac] FOREIGN KEY([KupacJMBG])
REFERENCES [dbo].[Kupac] ([KupacJMBG])
GO
ALTER TABLE [dbo].[PonudaDetalji] CHECK CONSTRAINT [FK_PonudaDetalji_Kupac]
GO
ALTER TABLE [dbo].[PonudaDetalji]  WITH CHECK ADD  CONSTRAINT [FK_PonudaDetalji_Prodavac] FOREIGN KEY([ProdavacID])
REFERENCES [dbo].[Prodavac] ([ProdavacID])
GO
ALTER TABLE [dbo].[PonudaDetalji] CHECK CONSTRAINT [FK_PonudaDetalji_Prodavac]
GO
ALTER TABLE [dbo].[Predracun]  WITH CHECK ADD  CONSTRAINT [FK_Predracun_Kupac] FOREIGN KEY([KupacJMBG])
REFERENCES [dbo].[Kupac] ([KupacJMBG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Predracun] CHECK CONSTRAINT [FK_Predracun_Kupac]
GO
ALTER TABLE [dbo].[Predracun]  WITH CHECK ADD  CONSTRAINT [FK_Predracun_Prodavac] FOREIGN KEY([ProdavacID])
REFERENCES [dbo].[Prodavac] ([ProdavacID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Predracun] CHECK CONSTRAINT [FK_Predracun_Prodavac]
GO
ALTER TABLE [dbo].[Predracun]  WITH CHECK ADD  CONSTRAINT [FK_Predracun_Ugovor] FOREIGN KEY([UgovorID])
REFERENCES [dbo].[Ugovor] ([UgovorID])
GO
ALTER TABLE [dbo].[Predracun] CHECK CONSTRAINT [FK_Predracun_Ugovor]
GO
ALTER TABLE [dbo].[RacunOtpremnica]  WITH CHECK ADD  CONSTRAINT [FK_RacunOtpremnica_Kupac] FOREIGN KEY([KupacJMBG])
REFERENCES [dbo].[Kupac] ([KupacJMBG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RacunOtpremnica] CHECK CONSTRAINT [FK_RacunOtpremnica_Kupac]
GO
ALTER TABLE [dbo].[RacunOtpremnica]  WITH CHECK ADD  CONSTRAINT [FK_RacunOtpremnica_Predracun] FOREIGN KEY([PredracunID])
REFERENCES [dbo].[Predracun] ([PredracunID])
GO
ALTER TABLE [dbo].[RacunOtpremnica] CHECK CONSTRAINT [FK_RacunOtpremnica_Predracun]
GO
ALTER TABLE [dbo].[RacunOtpremnica]  WITH CHECK ADD  CONSTRAINT [FK_RacunOtpremnica_Prodavac] FOREIGN KEY([ProdavacID])
REFERENCES [dbo].[Prodavac] ([ProdavacID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RacunOtpremnica] CHECK CONSTRAINT [FK_RacunOtpremnica_Prodavac]
GO
ALTER TABLE [dbo].[StavkaKataloga]  WITH CHECK ADD  CONSTRAINT [FK_StavkaKataloga_Katalog1] FOREIGN KEY([KatalogID])
REFERENCES [dbo].[Katalog] ([KatalogID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkaKataloga] CHECK CONSTRAINT [FK_StavkaKataloga_Katalog1]
GO
ALTER TABLE [dbo].[StavkaKataloga]  WITH CHECK ADD  CONSTRAINT [FK_StavkaKataloga_Vozilo] FOREIGN KEY([VoziloID])
REFERENCES [dbo].[Vozilo] ([VoziloID])
GO
ALTER TABLE [dbo].[StavkaKataloga] CHECK CONSTRAINT [FK_StavkaKataloga_Vozilo]
GO
ALTER TABLE [dbo].[StavkaNarudzbenice]  WITH CHECK ADD  CONSTRAINT [FK_StavkaNarudzbenice_Narudzbenica] FOREIGN KEY([NarudzbenicaID])
REFERENCES [dbo].[Narudzbenica] ([NarudzbenicaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkaNarudzbenice] CHECK CONSTRAINT [FK_StavkaNarudzbenice_Narudzbenica]
GO
ALTER TABLE [dbo].[StavkaNarudzbenice]  WITH CHECK ADD  CONSTRAINT [FK_StavkaNarudzbenice_Vozilo] FOREIGN KEY([VoziloID])
REFERENCES [dbo].[Vozilo] ([VoziloID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaNarudzbenice] CHECK CONSTRAINT [FK_StavkaNarudzbenice_Vozilo]
GO
ALTER TABLE [dbo].[StavkaPonude]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPonude_Ponuda1] FOREIGN KEY([PonudaID])
REFERENCES [dbo].[Ponuda] ([PonudaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkaPonude] CHECK CONSTRAINT [FK_StavkaPonude_Ponuda1]
GO
ALTER TABLE [dbo].[StavkaPonude]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPonude_PonudaDetalji] FOREIGN KEY([PonudaID])
REFERENCES [dbo].[PonudaDetalji] ([PonudaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkaPonude] CHECK CONSTRAINT [FK_StavkaPonude_PonudaDetalji]
GO
ALTER TABLE [dbo].[StavkaPonude]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPonude_Vozilo] FOREIGN KEY([VoziloID])
REFERENCES [dbo].[Vozilo] ([VoziloID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaPonude] CHECK CONSTRAINT [FK_StavkaPonude_Vozilo]
GO
ALTER TABLE [dbo].[StavkaPredracuna]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPredracuna_Predracun] FOREIGN KEY([PredracunID])
REFERENCES [dbo].[Predracun] ([PredracunID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkaPredracuna] CHECK CONSTRAINT [FK_StavkaPredracuna_Predracun]
GO
ALTER TABLE [dbo].[StavkaPredracuna]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPredracuna_Vozilo] FOREIGN KEY([VoziloID])
REFERENCES [dbo].[Vozilo] ([VoziloID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaPredracuna] CHECK CONSTRAINT [FK_StavkaPredracuna_Vozilo]
GO
ALTER TABLE [dbo].[StavkaRacunaOtpremnice]  WITH CHECK ADD  CONSTRAINT [FK_StavkaRacunaOtpremnice_RacunOtpremnica] FOREIGN KEY([RacunOtpremnicaID])
REFERENCES [dbo].[RacunOtpremnica] ([RacunOtpremnicaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkaRacunaOtpremnice] CHECK CONSTRAINT [FK_StavkaRacunaOtpremnice_RacunOtpremnica]
GO
ALTER TABLE [dbo].[StavkaRacunaOtpremnice]  WITH CHECK ADD  CONSTRAINT [FK_StavkaRacunaOtpremnice_Vozilo] FOREIGN KEY([VoziloID])
REFERENCES [dbo].[Vozilo] ([VoziloID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaRacunaOtpremnice] CHECK CONSTRAINT [FK_StavkaRacunaOtpremnice_Vozilo]
GO
ALTER TABLE [dbo].[Ugovor]  WITH CHECK ADD  CONSTRAINT [FK_Ugovor_Kupac] FOREIGN KEY([KupacJMBG])
REFERENCES [dbo].[Kupac] ([KupacJMBG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ugovor] CHECK CONSTRAINT [FK_Ugovor_Kupac]
GO
ALTER TABLE [dbo].[Ugovor]  WITH CHECK ADD  CONSTRAINT [FK_Ugovor_Narudzbenica] FOREIGN KEY([NarudzbenicaID])
REFERENCES [dbo].[Narudzbenica] ([NarudzbenicaID])
GO
ALTER TABLE [dbo].[Ugovor] CHECK CONSTRAINT [FK_Ugovor_Narudzbenica]
GO
ALTER TABLE [dbo].[Ugovor]  WITH CHECK ADD  CONSTRAINT [FK_Ugovor_Prodavac] FOREIGN KEY([ProdavacID])
REFERENCES [dbo].[Prodavac] ([ProdavacID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ugovor] CHECK CONSTRAINT [FK_Ugovor_Prodavac]
GO
ALTER TABLE [dbo].[Vozilo]  WITH CHECK ADD  CONSTRAINT [CHK_TipVozila] CHECK  (([TipVozila]='Putnicko vozilo' OR [TipVozila]='Komercijalno vozilo'))
GO
ALTER TABLE [dbo].[Vozilo] CHECK CONSTRAINT [CHK_TipVozila]
GO
/****** Object:  StoredProcedure [dbo].[SumaStavkiPredracuna]    Script Date: 12/23/2020 8:07:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SumaStavkiPredracuna]
@PredracunID int = 0
AS
BEGIN
	SET NOCOUNT ON;
              declare @UkupanIznos decimal(18,2);
              SELECT @UkupanIznos = SUM(cv.Iznos * sp.Kolicina)
              FROM CenaVozila cv inner join StavkaPredracuna sp on cv.VoziloID=sp.VoziloID
              WHERE PredracunID=@PredracunID;
              UPDATE Predracun
              SET UkupanIznos = @UkupanIznos
              WHERE Predracun.PredracunID = @PredracunID
END
GO
